/* utilities */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

/* players style */
.section-title {
    color: #6F36BF;
    margin: 30px 0;
    font-size: 1.2em;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-evenly;
}

.player-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-img img {
    width: 56px;
    height: 56px;
}

/* blog style */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog-img img {
    width: 200px;
    height: 120px;
}

/* courses style  */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.course-img img {
    width: 200px;
    height: 120px;
}

.course-info h2,
h3 {
    margin: 10px 0;
}

.ratings {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.fa-star.color,
.fa-star-half-stroke.color {
    color: salmon;
}

.fa-clock.color,
.watch {
    color: tomato;
}